.item {
    border: 1px solid rgb(203 213 225);
    border-radius: 0.25rem;
    cursor: pointer;

    align-items: center;
    display: flex;
    justify-content: center;

    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 1rem 0;

    width: 16rem;
}
