.uploader__button {
    background: transparent;
    border: 1px solid rgb(203 213 225);
    border-radius: 0.25rem;
    cursor: pointer;
    height: 2rem;
    padding: 0 0.5rem;
}
.uploader__input {
    display: none;
}

.container {
    border: 2px dashed rgb(203 213 225);
    border-radius: 0.25rem;
    cursor: pointer;
    height: 8rem;
    width: 8rem;

    align-items: center;
    display: flex;
    justify-content: center;
}
.container__icon path {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
}
.container__uploader {
    display: none;
}
